@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*CSS Reset*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*My styling begins*/

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 5rem;
}

.header-section {
     display: flex;
     align-items: center;
     justify-content: space-between;
     max-height: 2.5rem;
}

.player-info-summary, .navigation-menu, .vital-info-summary {
    display: flex;
 }

 /*Profile legend styling*/

.player-profile-avatar {
    margin-right: 1rem;
}

.profile-pic {
    height: 6rem;
    border-radius: 50%;
    border: 1px solid white;
}

.gamertag-summary {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin-bottom: .625rem;
}

.gamertag-summary h2 {
    letter-spacing: 0.75px;
}

.gamertag-summary p {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.625rem;
    padding: 1px 5px;
    border-radius: 5px;
    
}

.player-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.player-stats {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.player-stats img {
    margin-right: 0.5rem;
}

.gamerscore, .achievements-unlocked {
    display: flex;

}

/*Nav menu and status symbol styling*/

.navigation-menu {
        gap: 2rem;
}

.vital-info-summary {
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
}

.navigation-menu img, .vital-info-summary img {
    height: 2rem;
    padding: 2px;
}

.navigation-menu img:hover {
  outline: solid 2px white;
  border-radius: 50%;
  padding: 5px;
}

header {
  margin-bottom: 20rem;
}


/*Recent Apps Section*/

.recent-apps-carousel {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  
  
}

.recent-apps-carousel img {
  
  border-radius: 10px;
}

.carousel-image {
  position: relative;
  text-align: left;
  color: white;
  border-radius: 10px;
  margin: 1rem;
  
}

.app-description {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  height: 25%;
  padding-top: 5px;
  padding-left: 5px;
}

.recent-apps-carousel .carousel-image:hover {
  outline: solid turquoise 5px;
  margin: 0;
  transition: all 0.15s ease-in-out;
  
}


/*fetured section styling*/

.banner-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
}

.banner-item {
  margin: 1rem;
}

.banner-item:hover {
  margin: 0;
  transition: all 0.15s ease-in-out;
}

.banner-section img {
  border-radius: 20px;
}

.banner-section img:hover {
  outline: solid turquoise 5px;
}